/* body {
    background-color: #131313;
}

#input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: large;
} */

#chat-box {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.message {
    margin-bottom: 15px;
}

.username {
    font-weight: bold;
}